.tip-container {
  margin-bottom: 20px;
  padding-left: 30px;
  height: 90px;
  line-height: 90px;
  color: #959595;
  background-color: #fff5e3;
  .tip-text {
    margin-left: 10px;
    vertical-align: middle;
    font-size: 28px;
  }
}