.index {
  .swiper {
    width: 750px;
    height: 504px;
    font-size: 0;
    .banner {
      width: 750px;
      height: 504px;
      font-size: 0;
    }
  }
  .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
    padding: 34px 30px;
    background-color: #ffffff;
    text-align: center;
    color: #333333;
    font-size: 24px;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 10px 10px 8px 3px rgba(138, 137, 137, 0.05), -10px -10px 8px 3px rgba(138, 137, 137, 0.05);
    .nav-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .nav-icon {
        margin-bottom: 18px;
        width: 64px;
        height: 64px;
        background-size: 64px;
        background-position: center;
        background-repeat: no-repeat;
        &.traveller-service {
          background-image: url(../../static/img/index/traveller-service.png);
        }
        &.guide {
          background-image: url(../../static/img/index/guide.png);
        }
        &.common {
          background-image: url(../../static/img/index/common.png);
        }
        &.magazine {
          background-image: url(../../static/img/index/magazine.png);
        }
      }
    }
  }
  .menu-container {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    .right {
      flex: 0 1 52.564%;
    }
    .menu-item {
      position: relative;
      padding: 30px 0 0 30px;
      background-color: #ffeedc;
      overflow: hidden;
      box-sizing: border-box;
      &.order {
        padding: 46px 0 0 60px;
        width: 46.667%;
        height: 302px;
        border-radius: 8px 0 0 8px;
        overflow: hidden;
      }
      &.train {
        margin-bottom: 6px;
        width: 100%;
        height: 164px;
        border-radius: 0 8px 0 0;
      }
      &.preferential {
        width: 100%;
        height: 132px;
        border-radius: 0 0 8px 0;
      }
      .menu-icon {
        position: absolute;
        background-position: center;
      }
      &.order .menu-icon {
        right: 0;
        bottom: 20px;
        width: 179px;
        height: 170px;
        background-image: url(../../static/img/index/order.png);
        background-size: 179px 170px;
      }
      &.train .menu-icon {
        right: 52px;
        bottom: 20px;
        width: 108px;
        height: 98px;
        background-image: url(../../static/img/index/train.png);
        background-size: 108px 98px;
      }
      .title {
        margin-bottom: 14px;
        font-size: 30px;
        color: #333333;
        font-weight: bold;
      }
      .desc {
        font-size: 18px;
        color: #666666;
      }
    }
  }
  .module-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 58px 30px 28px;
    font-size: 32px;
    color: #333333;
    font-weight: bold;
    .text::before{
      display: inline-block;
      content: '';
      margin-right: 12px;
      width: 6px;
      height: 20px;
      border-radius: 6px;
      background-color: #ffac1e;
    }
    .more {
      margin-right: 8px;
      font-size: 22px;
      color: #999999;
      .more-icon {
        display: inline-block;
        width: 11px;
        height: 18px;
        background-image: url(../../static/img/index/arrow_right.png);
        background-size: 11px 18px;
        background-position: center;
      }
    }
  }
  .trip-container {
    position: relative;
    margin: 0 30px;
    background-color: #e4f2ff;
    border-radius: 8px;
    color: #333333;
    overflow: hidden;
    .no-trip {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 30px;
      font-size: 32px;
      font-weight: bold;
    }
    .train-iocn {
      display: inline-block;
      margin-right: 12px;
      width: 46px;
      height: 46px;
      border-radius: 50%;
      vertical-align: middle;
      background-image: url(../../static/img/index/train_icon.png);
      background-size: 46px;
      background-position: center;
    }
    .arrow-right-2 {
      display: inline-block;
      width: 11px;
      height: 18px;
      background: url(../../static/img/index/arrow_right_2.png);
      background-size: 11px 18px;
      background-position: center;
    }
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 30px;
      font-size: 32px;
      font-weight: bold;
      .on-time {
        padding: 0 8px;
        min-width: 104px;
        height: 40px;
        line-height: 40px;
        background-color: #1eb0ff;
        color: #ffffff;
        border-radius: 20px 20px 0 20px;
        font-size: 24px;
        font-weight: normal;
        text-align: center;
      }
    }
    .content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 30px;
      text-align: center;
      .site {
        .name {
          font-size: 42px;
          font-weight: bold;
        }
        .time {
          font-size: 30px;
        }
      }
      .info {
        font-size: 32px;
        .arrow-icon {
          width: 233px;
          height: 17px;
          background-image: url(../../static/img/index/arrow_icon.png);
          background-size: 233px 17px;
          background-position: center;
        }
        .take {
          font-size: 24px;
          color: #666666;
        }
      }
    }
    .ticket-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 30px;
      text-align: center;
      font-size: 24px;
      font-weight: bold;
      .title {
        color: #666666;
        font-weight: normal;
      }
    }
    .order-nav {
      padding: 18px 30px;
      font-size: 24px;
      background-color: #caecff;
    }
  }
  .center-swiper {
    width: 100%;
    height: 340px;
    .banner-container {
      overflow: visible;
      .center-banner {
        width: 582px;
        height: 340px;
        border-radius: 8px;
        transition: all .3s;
        transform: scale(.9);
      }
      &.small {
        .center-banner {
          transform: scale(1);
        }
      }
    }
  }
  .pro-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 30px;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    color: #333333;
    box-sizing: border-box;
    .pro-item {
      margin-bottom: 18px;
      background-color: #ffffff;
      border-radius: 8px;
      overflow: hidden;
      .pro-pic {
        width: 336px;
        height: 252px;
      }
      .content {
        padding: 34px 18px;
        .name {
          max-width: 300px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          font-size: 24px;
          font-weight: bold;
        }
        .price {
          font-size: 32px;
          font-weight: bold;
          .discount {
            display: inline-block;
            margin-left: 12px;
            font-size: 20px;
            color: #fb4e44;
            font-weight: normal;
            &::before {
              display: inline-block;
              content: '';
              margin-right: 4px;
              width: 18px;
              height: 18px;
              background: url(../../static/img/index/discount.png) no-repeat center/18px;
            }
          }
        }
        .num {
          font-size: 22px;
          color: #999999;
        }
      }
    }
  }
  .advantage {
    margin: 0 64px;
    padding: 58px 0 46px;
    text-align: center;
    font-size: 24px;
    .title {
      margin-bottom: 24px;
      font-weight: bold;
      color: #666666;
    }
    .advantage-wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .advantage-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #999999;
        .advantage-icon {
          margin-bottom: 8px;
          width: 66px;
          height: 66px;
          border-radius: 50%;
          background-size: 66px;
          background-position: center;
          &.convenient {
            background-image: url(../../static/img/index/convenient.png);
          }
          &.delicious {
            background-image: url(../../static/img/index/delicious.png);
          }
          &.preferential {
            background-image: url(../../static/img/index/preferential.png);
          }
        }
        .desc {
          font-size: 18px;
        }
      }
    }
  }
  .to-video{
    position: absolute;
    bottom: 0;
    left: 20px;
    width: 200px;
    height: 80px;
    line-height: 80px;
    border: 1px solid #666;
    background: #66aacc;
    color: #FFF;
    font-size: 24px;
    text-align: center;
    border-radius: 50px;
  }
  .to-live-broadcast{
    @extend .to-video;
    left: 240px;
  }
}
