.detail {
  .tab-container {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .integral-list {
    margin-top: 86px;
    background-color: #ffffff;
    font-size: 26px;
    color: #333333;
    .integral-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 60px;
      padding: 24px 0;
      box-sizing: border-box;
      &:not(:last-child) {
        border-bottom: 1px solid #f0f0f0;
      }
      .content {
        margin-bottom: 8px;
      }
      .date {
        color: #999999;
        font-size: 24px;
      }
    }
  }
  .no-more {
    margin: 24px 0;
    font-size: 24px;
    color: #999;
    text-align: center;
  }
}